.Postspage-header {
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #01DFA5);
  background: -o-linear-gradient(-135deg, #c850c0, #01DFA5);
  background: -moz-linear-gradient(-135deg, #c850c0, #01DFA5);
  background: linear-gradient(-135deg, #c850c0, #01DFA5);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px 0;
  color: white;
}
.Postspage-header button {
  border: 0;
  background-color: transparent;
  color: white;
  font-size: 1.17em;
  border-bottom: 2px solid white;
  font-weight: 600;
}