body,
h3,
ul {
    padding: 0;
    margin: 0;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.user-timeline {
    display: grid;
    grid-template-columns: auto 1fr;
}

.aside-users {
    grid-column: 1;
}

.div-post-content {
    grid-column: 2;
}

.user-info {
    background-color: #fbfbfb;
}

.user-timeline {
    position: relative;
    top: -100px;
    background-color: #fff;
}


.section-profile {
    font-family: 'Lobster', cursive;
}

.li-navigation {
    cursor: pointer;
}
