.div-users_list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 70px auto;
    grid-template-rows: 70px;
    padding: 5px;
    cursor: pointer;
}

.img-user {
    height: 50px;
    grid-column: 1;
    border-radius: 50%;
}

.p-userName {
    grid-column: 2;
}