.div-users_list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 55px auto;
    grid-template-rows: 48px;
    padding: 10px;
    cursor: pointer;
    margin:5px;
    background-color: white  ;
   
}

.div-users li:hover{
    background-color: #F2F3F4  ;
}

.img-user {
    height: 50px;
    grid-column: 1;
    border-radius: 50%;
}

.p-userName {
    grid-column: 2;
}
