.div-users_list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50px 105px 75px;
    padding: 5px;
    cursor: pointer;
}

.img-user {
    height: 50px;
    grid-column: 1;
    border-radius: 50%;
}

.p-userName {
    grid-column: 2;
}


.follow-btn {
    display: none;
    grid-column: 3;
    height: 25px;
    font-size: 0.7em;
    font-family: Montserrat-Bold;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
    background: #57b846;
}