.profile-cover-section {
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #01DFA5);
    background: -o-linear-gradient(-135deg, #c850c0, #01DFA5);
    background: -moz-linear-gradient(-135deg, #c850c0, #01DFA5);
    background: linear-gradient(-135deg, #c850c0, #01DFA5);
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px 0;
    color: white;
}



h1 {
    font-size: 2em;
}

button{
height: 40px;
width: 15%;
margin-left: 5px;
border-radius: 25px;
background: #57b846;
color: #fff;
text-transform: uppercase;
border: 0;
cursor: pointer;
}