.Post-text
{
  border: 1px solid #f4f4f4;
  padding: 20px 25px;
  list-style: none;
  display: flex;
  flex-direction: column;
  color: #7f7f7f;
  margin-left: 15%;
  width: 930px;
}

.Post-posts img
{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}