.timeline-newpost {
  padding: 20px 40px;
  border: 1px solid #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timeline-newpost textarea {
  height: 100px;
  width: 85%;
  padding: 0 10px;
  resize: none;
}


.timeline-newpost button {
  height: 40px;
  width: 15%;
  margin-left: 5px;
  border-radius: 25px;
  background: #57b846;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .timeline-newpost {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 110px 50px;
  }

  .timeline-newpost textarea {
    grid-row: 1;
    height: 100px;
    width: 100%;
  }

  .timeline-newpost button {
    grid-row: 2;
    width: 100%;
  }
}